@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

:root {
    --main0: #000011;
    --main1: #001133;
    --main2: #003355;
    --main3: #005577;
    --main4: #007799;
    --main5: #0099bb;
    --main6: #00bbdd;
    --main7: #00ddff;
    --neutral0: #111;
    --neutral1: #333;
    --neutral2: #555;
    --neutral3: #777;
    --neutral4: #999;
    --neutral5: #bbb;
    --neutral6: #ddd;
    --neutral7: #fff;
}

body {
    background-color: var(--main1);

    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    background-color: var(--main4);

    margin: 1rem;
    padding: 1rem;
}

.board {
    background-color: var(--main6);

    width: min(75vw,75vh);
    aspect-ratio: 1/1;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.box {
    background-color: var(--main1);

    width: 30%;
    aspect-ratio: 1/1;

    padding: 1%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cell-c {
    background-color: var(--main2);

    width: 100%;
    aspect-ratio: 1/1;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    cursor: pointer;

    font-weight: 600;
    transition: 0.5s;
}

.cell {
    background-color: var(--main1);
    width: 31%;
    aspect-ratio: 1/1;

    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.init {
    color: var(--neutral6);
}

.cell.placed {
    color: var(--main6);
}

.digits {
    width: min(75vw,75vh);
    display: flex;
    flex-direction: row;
}

.digit {
    background-color: var(--main5);
    
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: .1rem;
    cursor: pointer;
}

.digit.selected {
    background-color: var(--main7);

}