@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

:root {
    --main0: #000011;
    --main1: #001133;
    --main2: #003355;
    --main3: #005577;
    --main4: #007799;
    --main5: #0099bb;
    --main6: #00bbdd;
    --main7: #00ddff;
}

body {
    background-color: var(--main2);

    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    background-color: var(--main6);

    margin: 1rem;
    padding: 1rem;
}

.board {
    background-color: var(--main4);

    width: min(60vw,80vh);
    aspect-ratio: 1/1;

    padding: 1rem;
    border-radius: 5%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cell {
    background-color: var(--main5);

    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;

    border: 1px solid var(--main4);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    font-weight: 600;
    transition: 0.5s;
}

.cell.init {
    background-color: var(--main4);
    color: var(--main5);
}

.cell.placed {
    background-color: var(--main5);
    color: var(--main0);
}

.digits {
    width: min(60vw,80vh);
    display: flex;
    flex-direction: row;
}

.digit {
    background-color: var(--main5);
    
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: .1rem;
    cursor: pointer;
}

.digit.selected {
    background-color: var(--main7);

}