@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

:root {
    --bg-main: #40b;
}

* {
    box-sizing: border-box;
}

body {
    padding-top: 3rem;
    background-color: var(--bg-main);
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    justify-content: center;
}

.add {
    background-color: #419;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.notes-c {
    padding-top: 3rem;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    justify-content: center;
}

.note {
    border-radius: 10px;
    background-color: #fff;
    margin: 2rem 1rem;
    height: 400px;
    width: 400px;
    box-shadow: 0 0 10px 4px #0000001a;
}

.note.minimized {
    height: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.note .tools {
    width: 100%;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #419;
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}

.tools button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    margin-left: .5rem;
    cursor: pointer;
}

.note .main {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    
    background-color: #fff;
    padding:0 1rem;
    font-size: 1rem;
}

.note textarea {
    outline: none;
    font-family: inherit;
    border: none;
    
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    
    background-color: #ddd;
    padding:1rem 1rem;
    font-size: 1rem;
    
    color: #888;
}

.note .hidden {
    display: none;
}